@model GetLinkStatsVM

@{
    ViewData["Title"] = "Short URL Stats";
}

<div class="text-center my-md-5 my-3">
    <h1 class="display-4">Link Stats</h1>
    <p>Enter the your Link URL down below.</p>
</div>
<div class="row">

    <div class="col-10 offset-1 col-md-10 offset-md-1 my-3">
        <div>
            <input class="form-control" type="text" id="txtShortUrl" />
            <input class="mx-auto d-block btn btn-success my-3" type="button" value="View Stats" id="btnViewLinkStats" onclick="ViewStats()" />
        </div>
        @if (Model.IsSuccess == false)
        {
            @if (Model.IsLinkEmpty)
            {
                <div id="resultContainer" class="alert alert-danger my-3" role="alert">
                    Please provide an url.
                </div>
            }
            @if (Model.IsError)
            {
                <div id="resultContainer" class="alert alert-danger my-3" role="alert">
                    @Model.ErrorMessage
                </div>
            }
            @if (Model.IsLinkNotFound)
            {
                <div id="resultContainer" class="alert alert-danger my-3" role="alert">
                    The provided link was not found.
                </div>
            }
        }
    </div>

    @if (Model.IsSuccess == true)
    {
        <div class="col-8 offset-2 col-md-3 offset-md-1 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">@Model.LinkStats.TimesVisited</h5>
                    <p class="card-text">Times Visited</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <p>Site Name:</p>
            <p class="text-break">@Model.LinkStats.LinkTitle</p>
            <p>Short Link:</p>
            <a class="text-break" href="@Model.LinkStats.ShortLink" target="_blank" rel="noopener noreferrer">@Model.LinkStats.ShortLink</a>
            <p>Full Link:</p>
            <a class="text-break" href="@Model.LinkStats.FullLink" target="_blank" rel="noopener noreferrer">@Model.LinkStats.FullLink</a>
            <p>Created: @Model.LinkStats.DateCreated.UtcDateTime</p>
        </div>
    }
</div>

@section Scripts {
    <script src="/js/GetLinkStatsScript.js" type="text/javascript"></script>
}