@model GetLinkStatsVM

@{
    ViewData["Title"] = "Short URL Stats";
}

<div class="text-center my-md-5 my-3">
    <h1 class="display-4">Link Stats</h1>
    <p>Description to be written.</p>
</div>
<div class="row">
    @if (Model.IsSuccess == false)
    {
        @if (Model.IsLinkEmpty)
        {
            <p>Please provide an url</p>
            <p>input here something</p>
        }
        @if (Model.IsError)
        {
            <p>
                Error: @Model.ErrorMessage
            </p>
        }
        @if (Model.IsLinkNotFound)
        {
            <p>The provided link was not found in our DB</p>
            <p>Is Link DTO Null??? = @(Model.LinkStats == null ? "Yes it is" : "no, it isn't")</p>
        }
    }
    
    @if (Model.IsSuccess == true)
    {
        <div class="col-8 offset-2 col-md-3 offset-md-1 my-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">@Model.LinkStats.TimesVisited</h5>
                    <p class="card-text">Times Visited</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <p>Site Name: @Model.LinkStats.LinkTitle</p>
            <p>Short Link:</p>
            <a href="@Model.LinkStats.ShortLink" target="_blank" rel="noopener noreferrer">@Model.LinkStats.ShortLink</a>
            <p>Full Link:</p>
            <a href="@Model.LinkStats.FullLink" target="_blank" rel="noopener noreferrer">@Model.LinkStats.FullLink</a>
            <p>Created: @Model.LinkStats.DateCreated.UtcDateTime</p>
        </div>
    }
</div>